asgiref==3.2.7
Django==3.0.12
django-appconf==1.0.4
django-imagekit==4.0.2
django-progressive-web-app==0.1.1
django-pwa==1.0.9
pilkit==2.0
Pillow==7.1.2
pytz==2019.3
six==1.14.0
sqlparse==0.3.1
