<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %} {%endblock%}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'AllMedia/assets/css/fontawesome-all.min.css' %}">
    {% block style %} {% endblock %}
</head>
<body>

    <header>

        <div class="logo">
            <div class="logo-text">
                <a href="{% url 'AllMedia:musicBox' %}"><h6>Music<span class="plus">
                    <i class="fas fa-plus"></i>
                </span></h6></a>
                
            </div>
        </div>

        <div class="log-in-btn">
            {% block login_signup %}{%endblock%}
        </div>

    </header>

{% block content %}

{%endblock%}

</body>
</html>