
{% extends 'accounts/base_account.html' %}

{% load static %}

{% block title %}
    Login here
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/assets/css/login.css' %}">
{% endblock %}

    {% block login_signup %}
        <a href="{% url 'accounts:password_reset' %}"><button class="btn-log-in">Request again?</button ></a>
    {%endblock%}

{% block content %}

    <main>
        <div class="form-text">
            <h1 class="account-text-reset">Password Reset Sent</h1>
        </div>

        <p>
            We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.
        If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
        </p>

    </main>

{% endblock %}