
{% extends 'accounts/base_account.html' %}

{% load static %}

{% block title %}
    Login here
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/assets/css/login.css' %}">
{% endblock %}

    {% block login_signup %}
        <a href="{% url 'accounts:login' %}"><button class="btn-log-in">login</button ></a>
    {%endblock%}

{% block content %}

    <main>
        <div class="form-text">
            <h1 class="account-text-reset">Password Reset complete</h1>
        </div>

        <p style="margin:1rem 0;">
            Your password has been set. You may go ahead and log in now.
        </p>

        <a class='btn-log-in' href ="{% url 'accounts:login' %}">Log in</a>

    </main>

{% endblock %}