
{% extends 'accounts/base_account.html' %}

{% load static %}

{% block title %}
    Login here
{% endblock %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/assets/css/login.css' %}">
{% endblock %}

    {% block login_signup %}
        <a href="{% url 'AllMedia:musicBox' %}"><button class="btn-log-in">Back to app</button ></a>
    {%endblock%}

{% block content %}

    <main>
        <div class="form-text">
            <h1 class="account-text">Reset Password</h1>
        </div>

        <div class="form">
            <form method='POST'>
                {% csrf_token %}
                {{form.non_field_errors}}
                <div class="fieldwrapper">
                   {{form.email}}
                </div>

            	<button class="submit" type="submit">Reset</button>
        	</form>
        </div>
    </main>

{% endblock %}